.navbar {
  background-color: #c40001 !important;
}

.navbar-brand,
.navbar span {
  font-size: 2em;
  color: white !important;
}

body {
  background-color: aliceblue;
}

@font-face {
  font-family: ComicSansMSDuCul;
  src: url("comic_sans.ttf");
}

.list-group .list-group-item:hover {
  background-color: #c40001 !important;
  color: white;
  font-weight: bold;
}

.troll-font {
  font-family: ComicSansMSDuCul !important;
}

#v-pills-tab-component .nav-link {
  color: #c40001 !important;
}

#v-pills-tab-component .active.nav-link {
  background-color: #c40001 !important;
  color: white !important;
}
