{% if items is empty %}
        <h3 class="text-center">No data found</h3>
    {% else %}
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item" onclick="window.location.href = '{{ path(path, {'id': item.id}) }}';">{{item.name}}</li>
            {% endfor %}
        </ul>
    {% endif %}