{% extends 'base.html.twig' %}
{% block navbar_title %} {{ title }} {% endblock %}

{% block body %}
<div class="row mt-5">
    <div class="col-6 offset-3">
        {{ form(form) }}
    </div>
</div>
{% endblock %}