{% extends 'base.html.twig' %}
{% block navbar_title %} {{ title }} {% endblock %}

{% block body %}
<div class="row">
    <div class="mt-4 col-8 offset-2">
        <h2>{{ product.name }}</h2>
        {{ form(form) }}
    </div>
</div>
{% endblock %}