{% extends 'base.html.twig' %}
{% block navbar_title %} Project : {{ title }} {% endblock %}

{% block body %}
    {% if products is empty %}
    <div class="row mt-5">
        <h4 class=" mr-3" id="noProductsTitle"> You don't have any products </h4>
        <button class="btn btn-outline-danger" id="coprasButton"> Show me best components for my project </button>
    </div>
    <div class="mt-5">
        <form action="{{ path('app_map_products_project')  }}" method="post">
            <div class="row">
                <div id="choseProducts"> </div>
            </div>
        </form>
    </div>
    {% else %}
        {% for item in products %}
            <li class="list-group-item" onclick="window.location.href = '{{ path('app_modifier_produit', {'id': item.id}) }}';" > {{ item.productType.lib }} | {{item.name}} </li>
        {% endfor %}
    {% endif %}


{% endblock %}



{% block javascripts %}
<script>

$('#coprasButton').on('click', function (e) {
    $.ajax({
        url: '{{ path('copras_action') }}',
        type: "POST",
        dataType: "json",        
        async: true,
        data:JSON.stringify({project_id: {{ projectId }} }),
        success: function (data) {
                console.log(data);
                $('#noProductsTitle').hide();
                var html = "";
                for (var element of Object.keys(data)) {
                    data[element] = sortResults(data[element], 'percentage', false )
                    html += `                
                    <div class="form-group m-5" id="` + element + `">
                        <h5>` + element + `</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="` + element + `_choice" id="` + element + `_choice1" value="` + data[element][0]["id"] + `" checked>
                            <label class="form-check-label" for="radiator_choice1">
                            <a href="{{ path('app_modifier_produit') }}?id=` + data[element][0]["id"] + `" target="_blank">` + data[element][0]["name"] + ` | ` + data[element][0]["percentage"].toFixed(2) + `%</a>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="` + element + `_choice" id="` + element + `_choice2" value="` + data[element][1]["id"] + `">
                            <label class="form-check-label" for="` + element + `_choice2"> 
                            <a href="{{ path('app_modifier_produit') }}?id=` + data[element][1]["id"] + `" target="_blank">` + data[element][1]["name"] + ` | ` + data[element][1]["percentage"].toFixed(2) + `%</a>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="` + element + `_choice" id="` + element + `_choice3" value="` + data[element][2]["id"] + `">
                            <label class="form-check-label" for="` + element + `_choice3">
                                <a href="{{ path('app_modifier_produit') }}?id=` + data[element][2]["id"] + `" target="_blank">` + data[element][2]["name"] + ` | ` + data[element][2]["percentage"].toFixed(2) + `%</a>
                            </label>
                        </div>
                    </div>
                    `;
                }

            html += '<div class="container"><input type="hidden" name="project_id" value="{{ projectId }}"><button type="submit" class="btn btn-primary"> Save </button></div>';
            $('#choseProducts').replaceWith(html);            
        }, error: function(error){
            popAlert(error);
        }
    });
});

function popAlert(error){
    console.log(error);
    var msg = "This is not supposed to happend";
    if (error.status == 500) {
        msg = error.responseJSON.detail
    } else if ((error.status == 400)){
        msg = error.responseJSON.message
    }
    var html = `
        <div class="alert alert-warning alert-dismissible fade" role="alert">
            <strong>Oups !</strong> An error has occured. Please retry and if it keeps occuring, contact a IT student.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <hr>
            <p class="mb-0">Error message received : "` + msg + `"</p>
        </div>
    `;
    $('#choseProducts').append(html);            

    $('.alert').addClass("show").alert();
}

function sortResults(array ,prop, asc) {
    array.sort(function(a, b) {
        if (asc) {
            return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
        } else {
            return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
        }
    });
   return array;
}
</script>
{% endblock %}
