{% extends 'base.html.twig' %}
{% block navbar_title %} Components {% endblock %}

{% block body %}
<!-- left panel -->
<div class="row mt-5">
  <div class="col-4">
    <div class="nav flex-column nav-pills" id="v-pills-tab-component" role="tablist" aria-orientation="vertical">
      <a class="troll-font nav-link active" id="v-pills-radiators-tab" data-toggle="pill" href="#v-pills-radiators" role="tab" aria-controls="v-pills-radiators" aria-selected="true">Radiators</a>
      <a class="troll-font nav-link" id="v-pills-pipes-tab" data-toggle="pill" href="#v-pills-pipes" role="tab" aria-controls="v-pills-pipes" aria-selected="false">Pipes</a>
      <a class="troll-font nav-link" id="v-pills-thermostatic-valves-tab" data-toggle="pill" href="#v-pills-thermostatic-valves" role="tab" aria-controls="v-pills-thermostatic-valves" aria-selected="false">Thermostatic Valves</a>
      <a class="troll-font nav-link" id="v-pills-balancing-valves-tab" data-toggle="pill" href="#v-pills-balancing-valves" role="tab" aria-controls="v-pills-balancing-valves" aria-selected="false">Balancing Valves</a>
      <a class="troll-font nav-link" id="v-pills-circulator-pump-tab" data-toggle="pill" href="#v-pills-circulator-pump" role="tab" aria-controls="v-pills-circulator-pump" aria-selected="false">Circulator Pumps</a>
    </div>

    <h3 class="text-danger mt-4">Add a new components</h3>
    <div id="addNewComponentForm">
      {{ form(form) }}
    </div>
  </div>

<!-- right content -->
  <div class="col-8">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-radiators" role="tabpanel" aria-labelledby="v-pills-radiators-tab">{{ include('_crud_list.html.twig', {items: components.radiators, path: 'app_modifier_produit'}) }}</div>
      <div class="tab-pane fade" id="v-pills-pipes" role="tabpanel" aria-labelledby="v-pills-pipes-tab">{{ include('_crud_list.html.twig', {items: components.pipes, path: 'app_modifier_produit'}) }}</div>
      <div class="tab-pane fade" id="v-pills-thermostatic-valves" role="tabpanel" aria-labelledby="v-pills-messages-tab">{{ include('_crud_list.html.twig', {items: components.thermostaticValves, path: 'app_modifier_produit'}) }}</div>
      <div class="tab-pane fade" id="v-pills-balancing-valves" role="tabpanel" aria-labelledby="v-pills-thermostatic-valves-tab">{{ include('_crud_list.html.twig', {items: components.balancingValves, path: 'app_modifier_produit'}) }}</div>
      <div class="tab-pane fade" id="v-pills-circulator-pump" role="tabpanel" aria-labelledby="v-pills-circulator-pump-tab">{{ include('_crud_list.html.twig', {items: components.circulatoPumps, path: 'app_modifier_produit'}) }}</div>
    </div>
  </div>
</div>

{% endblock %}