{% extends 'base.html.twig' %}
{% block navbar_title %} Projects {% endblock %}

{% block body %}
<div class="container">
    <div class="text-center m-4 troll-font">
        <button type="button" class="btn btn-outline-danger mx-auto" onclick="window.location.href = '{{ path('app_creer_projet') }}';">Add a new project</button>
        <button type="button" class="btn btn-outline-danger mx-auto" onclick="window.location.href = '{{ path('app_tous_les_produits') }}';">Manage heating system component</button>            
    </div>
    <div class="col-8 mx-auto">
    {{ include('_crud_list.html.twig', {items: projects, path: 'app_modifier_projet'}) }}
    </div>
{% endblock %}